# requirements.txt

# Базовые утилиты
pydantic>=2.6.0,<3.0.0

# Работа с SQLite через наш Database-класс — тут стандартный sqlite3 из Python,
# отдельный пакет не нужен.

# TOML для Python 3.10 (на 3.11+ можно использовать встроенный tomllib)
tomli>=2.0.1

# IBKR
ib_insync>=0.9.86

# Google Sheets
google-api-python-client>=2.151.0
google-auth>=2.35.0
google-auth-httplib2>=0.2.0
google-auth-oauthlib>=1.2.1

# HTTP для Telegram-уведомлений
requests>=2.32.0

# Опционально — для логгирования в JSON, если захочешь:
orjson>=3.10.7
PyYAML>=6.0.1
PyQt5>=5.15.10
